


<br>
<div class="panel panel-info" style="width:800px;margin-left:auto;margin-right:auto;">
  <div class="panel-heading">
    <h3 class="panel-title">SFU Burnaby Road Contitions Live Webcams</h3>
  </div>
  <div class="panel-body">

<div class="row">
  <div class="col-md-6">

    <div class = "web-aqn">
<h3>AQ North</h3>
<img width="370" height="250" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/aqcam-mobile00001.jpg" alt="No Image Available. Reload the page" />
</div>

</div>


  <div class="col-md-6">

<div class = "web-aqsw">
<h3>AQ South West</h3>
<img width="370" height="250" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/aqcamsw-mobile00001.jpg" alt="No Image Available. Reload the page"/>
</div>
</div>
</div>



<div class="row">
  <div class="col-md-6">

<div class = "web-udn">
<h3>University Drive North</h3>
<img width="370" height="250" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/libcam00001" alt="No Image Available. Reload the page" />
</div>
</div>

<div class="col-md-6">
<div class = "web-gi">
<h3>Giglardi Intersection</h3>
<img width="370" height="250" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/gaglardicam00001.jpg" alt="No Image Available. Reload the page" />
</div>
</div>

  </div>
</div>


